<html>
  <head>
    <title>{{theorem}} - MathView</title>
    <style>
      #header-div {
        background-color: rgba(0, 0, 0, 0.5);
        /* display: inline-block; */
        /* float: left; */
        position: absolute;
        padding: 10px;
       
        
      }

    </style>
  </head>
  <body>
    <div id="header-div">

      <a href="http://us.metamath.org/mpeuni/{{theorem}}.html" target="_blank"><h1>{{theorem}}</h1></a>
      <p>Complexity: {{complexity}}</p>
      <p>Log Complexity: {{log_complexity}}</p>


      <label for="cars">Criteria:</label>
      <select name="cars" id="cars">
        <option value="volvo">EdgesCntNorm</option>
        <option value="saab">NormComp</option>
        <!-- <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option> -->
        </select>

        <br>



      <div class="slidecontainer">
        <input type="range" min="1" max="101" value="101" class="slider" id="myRange">
        <p>Value: <span id="demo"></span></p>
      </div>

      <div id="thresbut">

      </div>

      <!-- <br>
      <input type="checkbox" id="details" name="details" checked>
      <label for="details">Show Details</label> -->


  </div>
    
    <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
    <script src="../static/d3.v7.min.js"></script>
    <script src="../static/rendertree.js"></script>
    <script>

      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");

      var width = 1500
      var height = 800

      const svg = d3.select("body")
        .append("svg")
        .style("font", "12px sans-serif");

      svg.attr("viewBox", [-width / 2, -height / 2, width, height]);

      const g = svg.append("g");

      const zoom = d3.zoom()
            .scaleExtent([0.1, 8])
            .on("zoom", zoomed);

        function zoomed(event) {
            const {transform} = event;
            g.attr("transform", transform);
            g.attr("stroke-width", 1 / transform.k);
        }

        const types = ["licensing","suit","resolved"];
        const color = d3.scaleOrdinal(types, d3.schemeCategory10)

          // Per-type markers, as they don't inherit styles.
        svg.append("defs").append("marker")
            .attr("id", "arrows")
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 15)
            .attr("refY", -0.5)
            .attr("markerWidth", 6)
            .attr("markerHeight", 6)
            .attr("orient", "auto")
            .append("path")
            .attr("fill", "#aaaaaa")
            .attr("d", "M0,-5L10,0L0,5");

            
        svg.call(zoom);

        g.append("g").attr("id", "links-group")
        g.append("g").attr("id", "nodes-group")


        //var link_group = g.append("g")
        //var node_group = g.append("g")


        d3.json("../theorem/{{theorem}}").then(data => {

          console.log(data)

          thres_values = new Set()

          for(var i in data.steps) {
            thres_values.add(data.steps[i].edge_count_norm)
            //thres_values.add(roundDecimals(data.steps[i].edge_count_norm, 5))
          }

          thres_values = Array.from(thres_values).sort().reverse()

          var level_indicator = d3.select("#thresbut")
            .append("p")
            .text("Granularity Level 0")

          d3.select("#thresbut")
            .selectAll("div")
            .data(thres_values)
            .join("div")
            .append("button")
            .text(function(d, i) {
               //return "Threshold: " + d;
               return "Granularity Level " + i
            })
            .on("click", function(e, d) {
              //level_indicator.text("Granularity Level " + i)
              slider.value = Math.round(d*100)
              output.innerHTML = slider.value / 100;
              main(data, d+Number.EPSILON)
            });


          console.log(thres_values)

          main(data, slider.value / 100)
          output.innerHTML = slider.value / 100;

          slider.oninput = function() {
            main(data, slider.value / 100)
            output.innerHTML = this.value / 100;
          }




        });
        
        function roundDecimals(value, decimals) {
          return Math.round((value + Number.EPSILON) * Math.pow(10, decimals)) / Math.pow(10, decimals)
        }




    </script>
  </body>
</html>